.contact-link{
    cursor: default;
    text-decoration: none; /* quita subrayado */
    color: inherit; /* mantiene el color del texto */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: default; /* flecha en lugar de manito */
    transition: background-color 0.2s;
    background-color: rgb(255, 254, 254);
}

.contact {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.2s;
    width: 100%;
}

.contact:hover {
    background-color: #f2f2f2; /* efecto hover claro como WhatsApp */
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-bottom: 1px solid #e6e6e6; /* separador entre contactos */
    padding-bottom: 10px;
    min-width: 0;  
}

.contact-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.contact-name {
    font-weight: 500;
    font-size: 16px;
    color: #111; /* negro suave */
}

.contact-time {
    font-size: 12px;
    color: #999; /* gris tenue */
}

.contact-info span {
    font-size: 12px;
    text-decoration: none;
    margin-top: 4px;
}