.contact-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 70px;
    background-color: white;
    padding-left: 10px;
}

.contact-header {
    display: flex;
    align-items: center;
    background-color: white;
}

.contact-header .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 10px;
}

.contact-name {
    font-weight: bold;
    font-size: 16px;
}

.contact-header-buttons,
.contact-header-buttons-left {
    display: flex;
    align-items: center;
    gap: 14px;
}

.contact-header-buttons {
    padding: 25px;
    justify-content: center;
}

.contact-header-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: #555;
    padding: 10px;
    border-radius: 8px;
}

.contact-header-buttons-left {
    border: 1px solid #adadad;
    border-radius: 8px;
    position: relative;
}

.contact-header-buttons-left .btn-phone::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 25%;
    height: 50%;
    width: 1px;
    background-color: #ccc;
}

.btn-video:hover,
.btn-phone:hover,
.btn-search:hover {
    background-color: rgba(0, 0, 0, 0.1);
}