.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    gap: 16px;
    width: 50px;
    height: 100dvh;
    background-color: rgb(247, 245, 242);
}

.profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-compressed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    height: 100%;
    z-index: 2;
    position: relative;
    background-color: whitesmoke;
    width: 100%;
    padding-bottom: 15px;
}

.nav-compressed_top,
.nav-compressed_bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.nav-compressed_top a,
.nav-compressed_bottom a {
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-compressed_top a :hover,
.nav-compressed_bottom :hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-compressed_top a svg,
.nav-compressed_bottom a svg{
    height: 33px;
    width: 33px;
    border-radius: 8px;
    padding: 5px;
}

.nav-simplified{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-color: rgb(247, 245, 242);
    width: 100% ;
    padding: 0px 20px 20px;
    height: 70px;
}

.nav-simplified a {
    font-size: 14px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nav-simplified a svg{
    width: 50px;
    height: 35px;
    border-radius: 50px;
    padding: 5px 10px;
}

.nav-simplified a.active {
    font-weight: bold;  /* texto en negrita */
}

.nav-simplified a.active svg {
    fill: #075E54;
    stroke: #075E54;
    background-color: #dcf8c6; /* verde oscuro solo icono */
}



.nav-extended {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding-top: 16px;
    top: 0;
    left: 50px; 
    min-width: 200px;
    height: 100vh;
    background-color: rgb(247, 245, 242);
    gap: 16px;
    transform:translateX(-200px);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.nav-extended-open{
    transform:translateX(0px);
    transition: all 0.3s ease-in-out;
}

.nav-extended_top,
.nav-extended_bottom {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 16px;
}

.nav-extended_bottom{
        padding-bottom: 15px;
}
.nav-extended a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    height: 26px;
    align-items: center;
    justify-content: left;
    margin-left: 5px;
}

.btn-menu-extended {
    opacity: 0;
    color: transparent;
}

.picture-placeholder {
    display: inline-block;
    width: 30px;
    height: 30px;
    align-items: left;
}

.icon-placeholder {
    height: 26px;
}

.btn-menu{
    position: relative;
    z-index: 100;
    border-radius: 8px;
}

.btn-menu svg{
    height: 28px;
    width: 28px;
    border-radius: 8px;
    padding: 5px;
}

@media screen and (max-width: 740px){
    .nav-container{
        flex-direction: row;
        width: 100%;
        height: 70px;
        min-width: 316px;
    }

    .nav-simplified{
        display: flex;
    }
    
    .nav-extended, .nav-compressed{
        display: none;
    }

    .btn-menu{
        display: none;
    }
}