@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet');

*{
    color: black;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.messages-container {
    background-image: url('/Images/dark-background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow-y: scroll;
}

